---
title: Blog
layout: 'base.njk'
---


<div class="section container">

  <h1 class="section-title">Recent articles</h1>
  <p>Here are some of my most recent articles. You can also go to the <a href="/blog/">blog page</a> to see all of my
    posts.</p>

  <ul role="list" class="articles__list flow">

    {%- for post in collections.post | reverse -%}

     {% include 'article-snippet.njk' %}

    {%- endfor -%}

  </ul>

</div>